
html{
    margin: 0;
    background: url("assets/licorne-neon.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

nav {
    width: auto;
    height: 100px;
    display: flex;
    margin-bottom: 5%;
}
.backHomePage {
    width: 0;
    height: 0;
    cursor: pointer;
    background-color: transparent;
     border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-right: 30px solid yellow;
    border-left: transparent;
    box-shadow: 5px 0px red;
}

h1 {
    font-size: 40px;
    font-weight: 900;
    line-height: 44px;
    color: #FF0000;
    font-family: 'Syncopate';
    text-shadow: 0px 4px 4px #FF00E5;
    margin: auto;
}

section article {
    width: auto;
    background-color: rgb(17, 13, 8);
    opacity: 0.75;
    padding: 2rem;
    border-radius: 5%;
    font-weight: 800;
    color: whitesmoke;
    margin: 2% 10vw;
}
article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90w;
}
h3 {
    padding: 2ch;   
}
p{
    padding: 2ch;
}

header,footer {
    padding: 50px;
    }
input{
    opacity: 50%;
    font-weight: 400;
    background-color: #dbc1ee;
    }

textarea{
    background-color: #dbc1ee;
    opacity: 50%;
}
#submit-btn{
    background-color: #dbc1ee;
    opacity: 50%;
}
.return {
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-right: 30px solid yellow;
    border-left: transparent;
    cursor: pointer;
    background-color: transparent;
    box-shadow: 5px 0px red;
}
#contact-form-id{
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 600px) {
    h3{
        padding: 1vw 1vw;
    }
    p{
        padding: 1vw 1vw;
    }
    article {
        margin-left: 2cw;
    }
}

