html { 
    background: url(assets/new-about.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .return{
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-right: 30px solid yellow;
    border-left: transparent;
    cursor: pointer;
    background-color: transparent;
    box-shadow: 5px 0px red;
}
#laTeam{
    display: flex;
    justify-content: space-evenly;
}
.card{
    width: 45cw;
}
h1 {
    text-shadow: 10px;
    font-family: 'Syncopate';
    text-align: center;
    color: #FF0000;
    text-shadow: 0px 4px 4px #FF00E5;
    margin-top: 25px;
    font-weight: 900;
    font-size: 5rem;
    /*width: auto;
    border: 1px solid #000000;*/    
}
img {
    position: relative;
    display: block;
    margin: auto;
}


article {
    width: auto;
    background-color: rgb(17, 13, 8);
    opacity: 0.75;
    /*margin: 5%,0;*/
    padding: 2%;
    color: whitesmoke;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right: 10%;
}
/*
body {
    background-color: transparent;
    box-shadow: 5px 0px red;
}
.button {
    color:white;
    background:#FEDA23;
  }*/
