*{
    font-family: 'Press Start 2P', cursive;
}

header{
    height: 5rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

body{
    height: 100%;
    width: 100%;
    background-image: url('');
}

.grid{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 3fr 1fr;
}

.right-column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    font-size: 0.8rem;
    line-height: 1.5;
}

.game-board{
    border: solid 2px;
    height: 100%;
    width: 90%;
}

.play-button{
    background-color: #4caf50;
    font-size: 1rem;
    padding: 1vw 2vw;
    cursor: pointer;
}

.button{
    grid-column-start: 1;
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 10vw 10vw 10vw;
    grid-template-rows: 8vw 8vw 8vw;
    margin: 2rem;
}

.ArrowUp{
    grid-column-start: 2;
    background-color: #4caf50;
    font-size: 1rem;
}

.ArrowDown{
    grid-column-start: 2;
    grid-row-start: 3;
    background-color: #4caf50;
    font-size: 1rem;
}

.ArrowLeft{
    grid-column-start: 1;
    background-color: #4caf50;
    font-size: 1rem;
}

.ArrowRight{
    grid-column-start: 3;
    background-color: #4caf50;
    font-size: 1rem;
}

footer{
    height: 2.5rem;
    
}