* {
    font-family: 'Syncopate';
}

body {
background-image: url(sunset.jpg);
background-position-x: 50%;
background-repeat: no-repeat;
}

header {
    display: flex;
    flex-direction: row-reverse;
}

h1 {
    color: #FF00E5;
    margin-top: 16%;
    margin-right: 11%;
}

.backHomePage{
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-right: 30px solid yellow;
    border-left: transparent;
    cursor: pointer;
    background-color: transparent;
    box-shadow: 5px 0px red;
}

button {
    cursor: pointer;
    border: 3px solid #00FFF0;
    background-color: lime;
    font-weight: bold;
    color: #FF00E5;
}

.sound {
margin: 20% 30% 0 42%;
}

.onoff {
    display: none;
}

.choosemode {
    display: none;
}

.show {
    display: flex;
    margin: 5% 5% 0 5%;
    justify-content: space-around;
}

.pop {
    display: flex;
    justify-content: space-around;
    margin: 5% 6% 0 6%;  
}


.diff {
    margin-top: 12%;
    margin-left: 32%;
}

.rules {
    margin-top: 10%;
}

mark {
    background-color: lime;
    text-shadow: 0px 4px 4px #00FFF0;
    color: #FF00E5;
    bac
}

h2 {
    color: black;
    padding-right: 0%;
    font-size: 1em;
    margin-left: 37%;
}

p {
    font-size: 1em;
    opacity: 1;
text-align: center;
}

p:hover{
opacity: 1;
color:rgb(0, 255, 242);
}

@media screen and (min-width:700px) {
    body {
        background-size: 100%;
    }
    h1 {
        margin-left: 35%;
        margin-top: 5%;
    }
    .sound {
       margin-top: 13%;
       margin-right: 2.5%;
       margin-left: 41%;
    }
    .diff {
        margin-left: 37%;
    }
    .rules {
        margin-top: 6%;
        margin-left: 39%;
    }
    .show {
        margin: 0 10% 0 10%;
    }
}